<?xml version="1.0"?>
<robot name="dh_ag95" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default="dh_ag95"/>
  <link name="world"/>
  <xacro:include filename="$(find-pkg-share dh_ag95_description)/urdf/dh_ag95_macro.urdf.xacro"/>
  <xacro:dh_ag95_gripper prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:dh_ag95_gripper>
</robot>
